.budget-calculator .left {
  font-family: "Roboto", sans-serif;
  width: 250px;
  height: 585px;
  background: white;
  box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #14213d;
  padding: 20px;
  position: relative;
  right: 70px;
  top: 48px;
  overflow: hidden;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.budget-calculator .left {
  box-sizing: border-box;
  padding-top: 10px;
  background: #14213d;
  color: white;
  font-size: 15px;
}

.budget-calculator .title {
  margin-top: 16px;
}

.budget-calculator .middle {
  font-family: "Roboto", sans-serif;
  width: 600px;
  height: 583.5px;
  margin: 24px auto;
  background: white;
  box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #14213d;
  position: relative;
  bottom: 560px;
  overflow: hidden;
}

.budget-calculator .middle h2 {
  text-align: center;
}

.budget-calculator .middle {
  box-sizing: border-box;
}

.budget-calculator .title {
  font-weight: 900;
}

.budget-calculator .left-middle {
  margin-left: 20px;
  margin-top: 30px;
}

.budget-calculator .right-middle-pie {
  position: relative;
  left: 310px;
  bottom: 500px;
  width: 25%
}

.budget-calculator .right-middle-pie1 {
  position: relative;
  left: 220px;
  bottom: 500px;
  width: 55%
}

.budget-calculator .right-middle-bar {
  position: relative;
  left: 400px;
  bottom: 300px;
}

.budget-calculator .left-middle .value {
  font-size: 30px;
  font-weight: 900;
  width: 30%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(20, 33, 61, 0.2);
}

.budget-calculator .calculate-btn {
  background: rgb(122, 126, 189);
  color: white;
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  margin: 24px 0;
}

.budget-calculator .left-middle .current-amount .value::before {
  content: "$";
  font-size: 26px;
  font-weight: 500;
  margin-left: 7px;
  opacity: 0.5;
  color: gold;
}

.budget-calculator .left-middle .total-budget .value::before {
  content: "$";
  font-size: 26px;
  font-weight: 500;
  margin-left: 7px;
  opacity: 0.5;
  color: gold;
}

.budget-calculator .left-middle .amount-left .value::before {
  content: "$";
  font-size: 26px;
  font-weight: 500;
  margin-left: 7px;
  opacity: 0.5;
  color: gold;
}

.budget-calculator .left-middle .percentage-budget .value::after {
  content: "%";
  font-size: 26px;
  font-weight: 500;
  margin-left: 7px;
  opacity: 0.5;
  color: grey;
}

.budget-calculator .right {
  font-family: "Roboto", sans-serif;
  width: 250px;
  background: white;
  box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #14213d;
  padding: 10px;
  position: relative;
  left: 781px;
  bottom: 1168px;
  height: 585px;
  overflow: hidden;
}

.budget-calculator .right {
  box-sizing: border-box;
  background: #14213d;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: red;
}

@media (max-width: 650px) {
  .loan-calculator {
    width: 90%;
    max-width: 500px;
  }

  .loan-calculator form {
    flex-direction: column;
    gap: 20px;
  }

  .loan-calculator .result {
    flex-direction: column;
    text-align: center;
  }
}
